name: GitHub Trophy Action

on:
  schedule:
    - cron: "0 0 * * *" # 每天更新
  workflow_dispatch: # 手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    name: Generate-GitHub-Profile-Trophy
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Generate GitHub Profile Trophy
        uses: soulteary/github-profile-trophy-action@v1
        with:
          # 之前的配置都对，保留
          options: "username=ouyangyipeng&theme=onedark&column=5&margin-w=15&margin-h=15&no-frame=true&rank=-?,-C,-B"
          # 【关键修改在这里】
          # 必须指定文件名(trophy.svg)，不能只写点(.)
          path: "trophy.svg" 

      - name: Deploy to GitHub Branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: trophy-branch
          folder: . # 这里部署整个目录，包含了刚刚生成的 trophy.svg
